<div class="album">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let elt of list">
            <div class="card" style="width: 18rem;">
              <img src="{{elt.photo}}" class="card-img-top" alt="..." width="250" height="250">
              <div class="card-body">
                <h5 class="card-title">{{elt.libelle}}</h5>
                <button class="btn btn-sm btn-primary" (click)="openDetailsArticle(contentDetails, elt.idArticle)">Détails</button>&nbsp;
              </div>
            </div>
      </div>
    </div>  
  </div>
</div>

<!-- Modal Details -->
<ng-template #contentDetails let-modal>
  <div class="modal-header">
      <h2 class="modal-title" id="DetailArticle">Détails de l'article </h2>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div>
        <div class="form-group row">
          <label for="staticId" class="col-sm-2 col-form-label">Id</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticI" value="{{Article.idArticle}}">
          </div>
          <label for="staticName" class="col-sm-2 col-form-label">Nom</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticName" value="{{Article.libelle}}">
          </div>
          <label for="staticPrice" class="col-sm-2 col-form-label">Prix</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticPrix" value="{{Article.prix}}€">
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>