<!-- Footer -->

<footer class="bg-dark text-center text-white font-small fixed-bottom">
  <!-- Grid container -->
  <div class="container p-2">

    <!-- Section: Social media -->
    <section class="mb-1">
      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1 btn-social-icon btn-github" href="https://gitlab.com/lea_habert/asi_angular/-/tree/master/" role="button" data-toggle="tooltip" data-placement="top" title="Notre front !"><img src="assets/images/logo/gitlab.png" width="30" height="30"></a>
      <a class="btn btn-outline-light btn-floating m-1 btn-social-icon btn-github" href="https://gitlab.com/lea_habert/asi/-/tree/master" role="button" data-toggle="tooltip" data-placement="top" title="Notre back !"><img src="assets/images/logo/gitlab.png" width="30" height="30"></a>
    </section>
    <!-- Section: Social media -->

    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.3);" *ngFor="let elt of list">
      Pour nous contacter :  
      &nbsp;&nbsp;&nbsp;<img src="assets/images/logo/email.svg" width="30" height="30">&nbsp;&nbsp;&nbsp;<a class="text-white" href="mailto:{{elt.mail}}">{{elt.mail}}</a>
      &nbsp;&nbsp;&nbsp;<img src="assets/images/logo/phone-call.svg" width="30" height="30">&nbsp;&nbsp;&nbsp;<a class="text-white">{{elt.telephone}}</a>
      &nbsp;&nbsp;&nbsp;<img src="assets/images/logo/building.svg" width="30" height="30">&nbsp;&nbsp;&nbsp;<a class="text-white" href="https://www.google.fr/maps/search/{{elt.adresse}}">{{elt.adresse}}</a>
    </div>
  </div>
</footer>
<!-- Footer -->
