<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo/hts.jpg" alt="" width="30" height="24">
      </a>
      <a class="navbar-brand" routerLink="/">BoutiqueHighTech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Accueil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ordinateurs
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" routerLink="/Ordinateurs/Portable">PC Portable</a></li>
                <li><a class="dropdown-item" routerLink="/Ordinateurs/Fixe">PC de Bureau</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/Ordinateurs/Accessoires">Accessoires</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Téléphonies
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" routerLink="/Phones/Portable">Smartphone</a></li>
                <li><a class="dropdown-item" routerLink="/Phones/Fixe">Téléphone fixe</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/Phones/Accessoires">Accessoires</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Stockage
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/Stockage/Disk">Disque Dur</a></li>
              <li><a class="dropdown-item" routerLink="/Stockage/Usb">Clé USB</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/Stockage/Accessoires">Accessoires</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" *ngIf=isAdmin>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/Admin/Dashboard">Dashboard</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <form class="d-flex">
        <button class="btn btn-outline-success me-2" type="button" routerLink="/Connexion" *ngIf=!isAdmin>Connexion</button>
        <button class="btn btn-danger" type="button"(click)="logOut()" *ngIf="isAdmin">Déconnexion</button>
    </form>
  </nav>