<div class="album">
    <div class="container">
        <br>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <button class="btn btn-md btn-outline-primary" (click)="openAjoutArticle(contentAjoutArticle)"><i class="fa fa-plus"></i>Ajouter Article</button>&nbsp; 
                <button class="btn btn-md btn-outline-primary" (click)="openAjoutCategorie(contentAjoutCategorie)"><i class="fa fa-plus"></i>Ajouter Catégorie</button>
            </div>
        </div>
        <br>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div *ngFor="let elt of listArticles">
                <div class="card" style="width: 18rem;">
                    <img src="{{elt.photo}}" class="card-img-top" alt="..." width="250" height="250">
                    <div class="card-body">
                        <h5 class="card-title">{{elt.libelle}}</h5>
                        <p class="card-text">{{elt.prix}}€</p>
                        <button class="btn btn-sm btn-primary" (click)="openUpdateArticle(contentUpdateArticle, elt.idArticle)">Modifier</button>&nbsp;
                        <button class="btn btn-sm btn-danger" (click)="openDeleteArticle(contentDeleteArticle, elt.idArticle)">Supprimer</button>&nbsp;
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div *ngFor="let elt of listCategories">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text">Catégorie : {{elt.idCategorie}}</p>
                        <td><h3 class="card-title">{{elt.libelleCategorie}}</h3></td>
                                                <!-- Button trigger modal -->
                        <!-- <button class="btn btn-sm btn-primary" (click)="openUpdateCategorie(contentUpdateCategorie, elt.idCategorie)">Modifier</button>&nbsp; -->
                        <button class="btn btn-sm btn-danger" (click)="openDeleteCategorie(contentDeleteCategorie, elt.idCategorie)">Supprimer</button>&nbsp;
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>


<!-- Modal Supprimer Catégorie -->
<ng-template #contentDeleteCategorie let-modal>
            <div class="modal-header">
                <h2 class="modal-title">Suppresion de la catégorie</h2>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cette catégorie ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Annuler</button>
                <button type="button" class="btn btn-danger" (click)="deleteCategorie()" onClick="window.location.reload();">Supprimer</button>
            </div>
</ng-template>


<!-- Modal Modifier Article -->
<ng-template #contentUpdateArticle let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Modification de l'article</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div> 
    <div class="modal-body">
        <form #updateArticleForm="ngForm" (ngSubmit)="updateArticle(updateArticleForm.value, Article.idArticle)">
            <!-- <div class="form-group">
                <label for="idArticle">Id</label>
                <input id="id" name="id" class="form-control" placeholder="{{Article.idArticle}}" type="text" #id="ngModel" ngModel number required>
                    <div [hidden]="id.valid || id.pristine"
                        class="alert alert-danger">
                    Id is required
                    </div>
                </div> -->
                <div class="form-group">
                    <label for="libelleArticle">Nom</label>
                    <input id="libelle" name="libelle" class="form-control" placeholder="{{Article.libelle}}" type="text" #libelle="ngModel" ngModel required>
                        <div [hidden]="libelle.valid || libelle.pristine"
                            class="alert alert-danger">
                        Name is required
                        </div>
                    </div>
                <div class="form-group">
                    <label for="prixArticle">Prix</label>
                    <input id="prix" name="prix" class="form-control" #prix="ngModel"  placeholder="{{Article.prix}}" type="text" ngModel required>
                        <div [hidden]="prix.valid || prix.pristine"
                            class="alert alert-danger">
                        Prix is required
                        </div>
                </div>
                <div class="form-group">
                    <label for="photoArticle">Photo</label>
                    <input id="photo" name="photo" class="form-control" #photo="ngModel" placeholder="{{Article.photo}}" type="text" ngModel required>
                        <div [hidden]="photo.valid || photo.pristine"
                            class="alert alert-danger">
                        Photo is required
                        </div>
                </div>
                <div class="form-group">
                    <label for="power">Catégorie</label>
                    <select id="categorie" name="categorie"  class="form-control" #categorie="ngModel" placeholder="Catégorie de l'article" ngModel required>
                        <ng-container *ngFor="let cat of listCategories">
                            <option  *ngIf="cat.categorieList?.length == 0" [ngValue]="cat.idCategorie">{{ cat.libelleCategorie }}</option>
                        </ng-container>
                    </select>
                </div>
                <button data-dismiss="modal" type="submit" class="btn btn-success" [disabled]="!updateArticleForm.form.valid" onClick="window.location.reload();">Valider</button>    
        </form>
    </div>
</ng-template>


<!-- Modal Supprimer Article -->
<ng-template #contentDeleteArticle let-modal>
            <div class="modal-header">
                <h2 class="modal-title">Suppresion de l'article</h2>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cet article ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Annuler</button>
                <button type="button" class="btn btn-danger" (click)="deleteArticle()" onClick="window.location.reload();">Supprimer</button>
            </div>
</ng-template>

<!-- Modal Ajouter Article -->
<ng-template #contentAjoutArticle let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Ajouter Article</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div> 
    <div class="modal-body">
        <form (ngSubmit)="ajoutArticle(articleForm.value)" #articleForm="ngForm">
            <div class="form-group">
            <label for="idArticle">Id</label>
            <input id="id" name="id" class="form-control" placeholder="Id de l'article" type="text" #id="ngModel" ngModel number required>
                <div [hidden]="id.valid || id.pristine"
                    class="alert alert-danger">
                Id is required
                </div>
            </div>
            <div class="form-group">
                <label for="libelleArticle">Nom</label>
                <input id="libelle" name="libelle" class="form-control" placeholder="Nom de l'article" type="text" #libelle="ngModel" ngModel required>
                    <div [hidden]="libelle.valid || libelle.pristine"
                        class="alert alert-danger">
                    Name is required
                    </div>
                </div>
            <div class="form-group">
                <label for="prixArticle">Prix</label>
                <input id="prix" name="prix" class="form-control" #prix="ngModel"  placeholder="Prix de l'article" type="text" ngModel required>
                    <div [hidden]="prix.valid || prix.pristine"
                        class="alert alert-danger">
                    Price is required
                    </div>
            </div>
            <div class="form-group">
                <label for="photoArticle">Photo</label>
                <input id="photo" name="photo" class="form-control" #photo="ngModel" placeholder="Photo de l'article" type="text" ngModel required>
                    <div [hidden]="photo.valid || photo.pristine"
                        class="alert alert-danger">
                    Photo is required
                    </div>
            </div>
            <div class="form-group">
                <label for="power">Catégorie</label>
                <select id="categorie" name="categorie"  class="form-control" #categorie="ngModel" placeholder="Catégorie de l'article" ngModel required>
                    <ng-container *ngFor="let cat of listCategories">
                        <option  *ngIf="cat.categorieList?.length == 0" [ngValue]="cat.idCategorie">{{ cat.libelleCategorie }}</option>
                    </ng-container>
                </select>
            </div>
            <button data-dismiss="modal" type="submit" class="btn btn-success" [disabled]="!articleForm.form.valid" onClick="window.location.reload();">Valider</button>
            </form>
       
    </div>
</ng-template>




<!-- Modal Ajouter Categorie -->
<ng-template #contentAjoutCategorie let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Ajouter Catégorie</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div> 
    <div class="modal-body">
        <form (ngSubmit)="ajoutCategorie(categorieForm.value)" #categorieForm="ngForm">
            <div class="form-group">
            <label for="idCategorie">Id</label>
            <input id="id" name="id" class="form-control" placeholder="Id de la categorie" type="text" #id="ngModel" ngModel number required>
                <div [hidden]="id.valid || id.pristine"
                    class="alert alert-danger">
                Id is required
                </div>
            </div>
            <div class="form-group">
                <label for="libelleCategorie">Nom</label>
                <input id="libelle" name="libelle" class="form-control" placeholder="Nom de la categorie" type="text" #libelle="ngModel" ngModel required>
                    <div [hidden]="libelle.valid || libelle.pristine"
                        class="alert alert-danger">
                    Name is required
                    </div>
            </div>
            <div class="form-group">
                <label for="power">Catégorie Parent</label>
                <select id="categorie" name="categorie"  class="form-control" #categorie="ngModel" placeholder="Categorie de l'article" ngModel>
                        <option *ngFor="let cat of listCategories" [ngValue]="cat.idCategorie">{{ cat.libelleCategorie }}</option>
                </select>
            </div>
            <button data-dismiss="modal" type="submit" class="btn btn-success" [disabled]="!categorieForm.form.valid" onClick="window.location.reload();">Valider</button>
            </form>
       
    </div>
</ng-template>
