<div class="wrapper fadeInDown">
    <div id="formContent">
        <form #connexionForm="ngForm" (ngSubmit)="connexion(connexionForm)">
            <h2>Connexion</h2>
            <div >
                <input type="email" class="fadeIn second" id="inputEmail3" name="email" placeholder="Email"
                     #email="ngModel" ngModel email required>
                <div class="alert alert-danger" *ngIf="email.errors?.required && email.touched"
                    role="alert">
                         Email required !
                </div>
            </div>
            <div>    
              <input type="password" class="fadeIn third" id="inputPassword3" name="pass" placeholder="Mot de passe" #pass="ngModel" ngModel required minlength="8">
                <div class="alert alert-danger" *ngIf="messageError" role="alert">
                    {{messageError}}
                </div>
                <div class="alert alert-danger" *ngIf="email.errors?.minlength && pass.touched"
                       role="alert">
                            minlength required !
                </div>
            </div>
            <input type="submit" class="fadeIn fourth" [disabled]="connexionForm.invalid" value="Valider">
        </form>
    </div>
</div>