<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" > 
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="assets/images/home/PcPortable.png" class="d-block w-40 conteneur" alt="pc portable">
        <div class="carousel-caption d-none d-md-block" style="height: 50px;">
          <h5>Ordinateurs</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/images/phones/fixe.jpg" class="d-block w-40 conteneur" alt="pc de bureau">
        <div class="carousel-caption d-none d-md-block" style="height: 50px;">
          <h5>Téléphones</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/stockage/disque.jpg" class="d-block w-40 conteneur" alt="accessoires pc">
        <div class="carousel-caption d-none d-md-block" style="height: 50px;">
          <h5>Stockage</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>